body {
    margin: 0px;
}

.container {
    width: 25%;
    margin-left: 25px;
}

canvas.emscripten {
    border: 0px none;
    background-color: black;
}

ul {
    columns: 2;
    padding: 0;
    margin-left: 25px;
}

